@model SignalRChatMVC.Domain.Entities.User

@{
    ViewBag.Title = "Login";
}

<h2>Welcome!</h2>


@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div class="form-group">
        <label>Username: </label> @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Password: </label> @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
    </div>
    <input type="submit" value="Log in" class="btn btn-primary" />
}

<p class="mt-1 lead">Or if you don't have an account, you can 
    @Html.ActionLink("Register", "Registration", "Account", null, new { @class = "btn btn-success" }) </p>
